[user]
	name = Daenyth Blank
	email = Daenyth+git@gmail.com
[color]
	branch = auto
	status = auto
	sh = auto

[color "branch"]
	current = yellow 
	local = yellow 
	remote = green

[color "status"]
	untracked = red
	changed = yellow
	added = green

[alias]
	sh = !git-sh
