# Start by excluding all files.
*

# Unignore my scripts
!/bin/*

# git stuff
!.gitignore
!.gitshrc

# system-related configs
!.alunn.conf
!.inputrc
!.xinitrc
!.Xdefaults
!.fluxbox/

# Shell configs
!.bashrc
!.bashrc.Muspelheimr
!.bashprompt

# CLI util configs
!.screenrc
!.vimrc
!.ncmpc/config
!.bashpodder/*
!.rtorrent.rc
!.calcurse/
!.shell-fm/

# Games
!.tremulous/
!.nethackrc

