*
!.gitignore
!autoexec.cfg
!alienbinds.cfg
!altreload.cfg
!autoexec.cfg
!commbinds.cfg
!humanbinds.cfg
!mdriver.cfg
!menu_binds.cfg
!menu_names.cfg
!name_blackmamba.cfg
!name_daenyth.cfg
!name_todesengel.cfg
!name_wdaenyth.cfg
!name_wizard.cfg
